<div class="mui-container-fluid">
  <form id='addIntentForm' class="mui-form">
    <legend>Adicionar Intenção</legend>
    <div class="mui-textfield">
      <input id='intentName' type="text">
      <label>Nome da Intenção</label>
    </div>
    <button id="btnIntentsAddDialogCancel" class="mui-btn mui-btn">Cancelar</button>
    <button id="btnIntentsAddDialogConfirm" class="mui-btn mui-btn--primary mui-btn--raised mui--pull-right">Adicionar</button>    
  </form>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/intent_addDialogBox.js"></script>

