{% extends "layout.html" %}
{% block content %}
  <div class="mui--appbar-height"></div>
  <div class="mui-container-fluid">
    <br>
    <h2>Frases para a intenção: '{{intent.name}} ({{intent.utterances.count()}})'</h2>
    <input id='intentName' type="hidden" value='{{intent.name}}'>
    <div class="mui-textfield">
      <input id='utteranceBody' type="text">
      <label>Exemplo de Frase</label>
    </div>
    <button id="btnAddUtterance" class="mui-btn mui-btn--primary">Adicionar Frase</button>
    <br>
    <br>
    {%- for utterance in intent.utterances %}
      <div class="mui-panel vertically-aligner-intent-div">
        <span class='mui--pull-left vertically-aligned-intent-span'>
          {{ utterance.body }} 
        </span>
        <button data-id='{{utterance.id}}' class='mui-btn mui-btn--danger mui--pull-right btnDeleteUtterance'>Apagar</button>
      </div>
    {%- endfor %}
  </div>
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/utterances.js"></script>
{% endblock %}
